extends ../layout

block content
    div(class="card" style="margin-top:20px")
        div(class="card-header text-center")
            strong()
                span(style="color: green")="Online "
                    span(style="color: black")="users"
        div(class="card-body")
            div(class="table-responsive")
                table(class="table")
                    thead
                        tr
                        th='_id'
                        th='Nickname'
                        th='Database ID'
                        th='Unique identifier'
                        th='Country'
                        th='Last connected time'
                        th='Time spent on server (since February 28)'
                    tbody
                        each client in clients
                            if (client.nickname !== "TS3-bot")
                                tr
                                td=client._id
                                td=client.nickname
                                td=client.database_id
                                td=client.unique_identifier
                                td=client.country
                                td=moment(client.last_connected * 1000).format('DD.MM.YYYY')
                                td=client.time_spent

