extends layout.pug

block content
    div(class="card" style="margin-top: 20px")
        div(class="card-header text-center") Users
        div(class="card-body")
                div(class="table-responsive")
                    table(class="table")
                        thead
                            tr
                            th='Database ID'
                            th='Nickname'
                            th='Kick'
                        tbody
                            each client in clients
                                tr
                                td=client.databaseId
                                td=client.nickname
                                td
                                    a(href='#') Kick
                                td=Date(client.created)