extends layout

append scripts
    script.
        function poke(id) {
            let poke_message = prompt("Enter poke message");
            if (poke_message != null){
                $.post("/administration/user/poke", {id:id, poke_message:poke_message})
            }
        }
        function kick(id) {
            let kick_message = prompt("Enter kick message");
            if (kick_message != null){
                $.post("/administration/user/kick", {id:id, kick_message:kick_message})
            }
        }
        function ban(id) {
            let ban_message = prompt("Enter ban message");
            let ban_length = prompt("Enter ban length in sec")
            if (ban_message != null && ban_length != null) {
                $.post("/administration/user/ban", {id: id, ban_length: ban_length, ban_message: ban_message})
            }
        }

block content
    if(success)
        div(class="alert alert-success")=success
    if(error)
        div(class="alert alert-danger")=error
    div(class="card" style="margin-top: 20px;margin-bottom: 20px")
        div(class="card-header text-center")
            strong()="Server info"
        div(class="card-body")
            div(class="table-responsive")
                table(class="table")
                    tr
                        th Server name:
                        td=server_info.virtualserverName
                    tr
                        th Connected clients:
                        td #{server_info.virtualserverClientsonline - server_info.virtualserverQueryclientsonline} / #{server_info.virtualserverMaxclients}
                    tr
                        th IP:
                        td=server_info.virtualserverIp
                    tr
                        th Server status:
                        td
                            if server_info.virtualserverStatus === "online"
                                span #{Math.round(((server_info.virtualserverUptime / 60) / 60) / 24)} days
                                    span(style="color:green")=" "+server_info.virtualserverStatus
                            else
                                span(style="color:red") Offline
    div(class="card")
        div(class="card-header text-center")
            strong()
                span(style="color: green")="Online "
                    span(style="color: #adb5bd") clients
        div(class="card-body")
            div(class="table-responsive")
                table(class="table")
                    thead
                        tr
                        th Nickname
                        th Current conn. time
                        th Platform
                        th Country
                        //th Time spent on the server in hours (since 28 February 2023)
                        if(login)
                            th IP
                            th='Poke'
                            th='Kick'
                            th='Ban'
                    tbody
                        - let id = 0;
                        - let di = 0;
                        if (clients.length === 0)
                            tr
                            td(colspan="8" class="text-center") Unfortunately, no one is connected at the moment. :(
                        else
                        each client in clients
                            tr
                            td=client.nickname
                            td=Math.floor(((Date.now() / 1000) - client.lastconnected) / 60) + " minutes"
                            td=client.platform
                            td=client.country
                            //td=Math.floor(clients_db[di].time_spent / 60)
                            - di++
                            if (login)
                                td=client.connectionClientIp
                                td
                                    button(onclick="poke(" + id + ")" type="button" class="btn btn-outline-info" style="text-decoration: none; color:black")="Poke"
                                td
                                    button(onclick="kick(" + id + ")" type="button" class="btn btn-outline-warning" style="text-decoration: none; color:black")="Kick"
                                td
                                    button(onclick="ban(" + id + ")" type="button" class="btn btn-outline-danger" style="text-decoration: none; color:black")="Ban"
                                - id++
    //div(class="card" style="margin-top: 20px")
        div(class="card-header text-center")
            strong() Recently connected users